/* Réinitialisation des marges et des paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de base pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Style pour la navigation */
nav {
    background-color: #6d6d6d;
    color: #fff;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0; /* Réinitialise la marge de la liste */
    padding: 0; /* Réinitialise le padding de la liste */
}

nav ul li {
    display: inline;
    /* Ajustement de la hauteur pour remplir toute la hauteur du bandeau */
    padding: 0; /* Réinitialise le padding de l'élément <li> */
    margin: 0;
    height: 100%; /* Remplit la hauteur de l'élément <li> */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 20px 20px; /* Ajout du padding pour l'espace à gauche et à droite */
    display: inline-block; /* Pour que l'ensemble de la zone soit cliquable */
    height: 100%; /* Remplit la hauteur de l'élément <li> */
}

nav ul li a:hover {
    color: #000000;
    background-color: #fff;
}

/* Style pour l'en-tête */
header {
    background-color: #797979;
    color: #fff;
    padding: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Style pour la section d'accueil */
#accueil {
    text-align: center;
    padding: 80px 0;
}

#accueil h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

#accueil p {
    font-size: 18px;
    color: #555;
}

/* Style pour la section de présentation */
#presentation {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#presentation h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

#presentation p {
    font-size: 16px;
    color: #666;
}

/* Style pour les listes non ordonnées (ul) */
.classic-list {
    list-style-type: disc; /* Utilise des puces pour chaque élément de liste */
    margin-left: 20px; /* Ajoute une marge à gauche pour décaler les puces */
    padding-left: 20px; /* Ajoute un espacement à gauche pour le contenu de la liste */
}

/* Style pour les éléments de liste (li) */
.classic-list li {
    margin-bottom: 10px; /* Ajoute un espacement entre chaque élément de liste */
    line-height: 1.4; /* Ajuste l'espacement entre les lignes pour une meilleure lisibilité */
}


/* Style pour le pied de page */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

