/* Réinitialisation des marges et des paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de base pour le corps de la page */
body, html {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh; /* La hauteur minimale de la vue à 100% de la hauteur de l'écran */

}

section {
    padding: 20px;
}



/* Style pour la navigation */
nav {
    background-color: #2e2e2e;
    color: #fff;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0; /* Réinitialise la marge de la liste */
    padding: 0; /* Réinitialise le padding de la liste */
}

nav ul li {
    display: inline;
    /* Ajustement de la hauteur pour remplir toute la hauteur du bandeau */
    padding: 0; /* Réinitialise le padding de l'élément <li> */
    margin: 0;
    height: 100%; /* Remplit la hauteur de l'élément <li> */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 20px 20px; /* Ajout du padding pour l'espace à gauche et à droite */
    display: inline-block; /* Pour que l'ensemble de la zone soit cliquable */
    height: 100%; /* Remplit la hauteur de l'élément <li> */
}

nav ul li a:hover {
    color: #000000;
    background-color: #fff;
}

/* Style pour l'en-tête */
header {
    background-color: #797979;
    color: #fff;
    padding: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Style pour la section d'accueil */
#accueil {
    text-align: center;
    padding: 80px 0;
}

#accueil h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

#accueil p {
    font-size: 18px;
    color: #555;
}

/* Style pour la section de présentation */
#presentation {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#presentation h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

#presentation p {
    font-size: 16px;
    color: #666;
}

/* Styles pour la liste de documentations */
#docs-list {
    list-style-type: none;
    padding: 0;
}

#docs-list li {
    margin: 10px 20px;
}

#docs-list a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#docs-list a:hover {
    color: #0056b3;
    background-color: #f2f2f2;
}

/* Responsive design pour les petits écrans */
@media (max-width: 768px) {
    #docs-list a {
        padding: 8px 16px;
        font-size: 14px;
    }
}


/* Styles pour la liste de projets */
#project-list {
    list-style-type: none;
    padding: 0;
}

.projet {
    margin: 20px 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.projet a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
}

.projet a:hover {
    color: #0056b3;
}

.projet span {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

.projet div {
    font-size: 16px;
}

/* Styles pour les liens externes */
.projet a[target="_blank"]::after {
    content: "\2197"; /* flèche de lien externe */
    margin-left: 5px;
}
  
  /* Responsive design pour les petits écrans */
@media (max-width: 768px) {
    .projet {
        padding: 15px;
    }
    .projet span {
        font-size: 18px;
    }
    .projet div {
        font-size: 14px;
    }
}
  
/* Style du footer */
footer {
    margin-top: auto; /* Placez-le en bas de la page */
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
