@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #17141d;
  color: white;
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

.presentation {
  display: flex;
  box-shadow: 0rem 0 1rem #000000;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  height: 6rem;
  justify-content: space-between;
  align-items: center;
  background: #17141d;
}

.presentation .title {
  color: #ff8a00;
  margin: 1.5rem;
  transition: 0.2s;
}

.presentation .title:hover {
  color: #e52e71;
}

section {
  margin: 3rem;
  padding: 2rem;
  text-align: justify;
  box-shadow: 0 0 1rem #000000;
  border-radius: 1rem;
  background: #2f293b;
}

a {
  color: #ff8a00;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: #e52e71;
}
