@font-face 
{
    font-family: 'rubik';
    src: url('./medias/fonts/Rubik/static/Rubik-Regular.ttf');
}

@font-face 
{
    font-family: 'playfair-display';
    src: url('./medias/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
}

@font-face 
{
    font-family: 'montserrat';
    src: url('./medias/fonts/Montserrat/static/Montserrat-Light.ttf');
}

@font-face 
{
    font-family: 'eb-garamond';
    src: url('./medias/fonts/EB_Garamond/static/EBGaramond-Medium.ttf');
}

@media screen and (max-width: 1524px)
{
    nav 
    {
        font-size: 0.8em;
    }

    #about_me img
    {
        margin-top: 130px;
    }
}

@media screen and (max-width: 300px)
{
    .navbar
    {
        flex-direction: column;
        justify-content: space-between;
    }
}

body{
    background-color: #dadada;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    justify-content: flex-start;
    margin:0;
}


.navbar
{
    overflow: hidden;
    background-color: #f1f1f1;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 18px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#banniere_image
{
    background-image: url(medias/images/fond-flou.jpg);
    height: 400px;
    display: flex;
}

#banniere_image #banniere_nom
{
    margin: auto;
    text-align: center;
    color: #ffffff;
    border: #ffffff solid 1px;
    padding: 20px;
}

#banniere_image #banniere_nom #mon_nom
{
    font-size: 3em;
    font-family: playfair-display;
}

.sous_titre
{
    font-size: 1.8em;
    font-family: montserrat;
}

#welcome 
{
    margin: auto;
    text-align: center;
}

p
{
    font-family: rubik;
    font-size: 1.2em;
}

#description
{
    width: 60%;
}

.block
{
    
    margin: auto;
    padding-top: 20px;
    text-align: justify;
    line-height: 200%;
    
}

.clear
{
    clear: both;
    
}


.clear_right
{
    clear: right;
    
}

.block a
{
    color: rgb(6, 4, 75)
}

.section
{
    background-color: #ffffff;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    width: 60%;
}

.section img
{
    max-width: 100%;
}

#about_me 
{
    min-height: 520px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: eb-garamond;
    padding: 0;
    
}

h1
{
    font-size: 3.5em;
}

h2
{
    font-size: 2.9em;
    /* border: solid black 1px; */
    margin-top: 20px;
}

h3
{
    font-size: 2.1em;
    /* border: solid black 1px; */
    margin-bottom: 20px;
}

h4
{
    font-size: 1.7em;
    /* border: solid black 1px; */
    margin-bottom: 20px;
}

#about_me p 
{
    width: 100%;
}

.float_right
{
    float: right;
    padding-left: 25px;
    max-height: 600px;
}

.float_left
{
    float: left;
    padding-right: 25px;
    max-height: 600px;
}

#video_cv iframe
{
    max-width: 75%;
    margin: auto;
    display: block;
}

#video_cv p
{
    width: 100%;
    padding-bottom: 20px;
}

#certificate
{
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 600px;
    padding: 20px;
}

.illustration
{
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 400px;
    padding: 20px;
}

.photos
{
    display: flex;
    flex-direction: column;
}

.photos img
{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logo_html_css
{
    padding: 25px;
    float: right;
}

footer
{
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: black solid 1px;
    background-color: #dadada;
    margin-top: 20px;

    width: 100%;
}

/* footer p
{
    border: black solid 1px;
} */

footer a, header a
{
    text-decoration: none;
    color: black;
}

footer a:hover
{
    
    color: rgb(3, 0, 201);
}